.renameInput {
  position: relative;
}

.renameInput input {
  display: block;
  height: 20px;
  padding-right: 45px;
  margin-left: -3px;
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 3px;
  outline: none;
  color: var(--text-color);
  font-size: 22px;
  line-height: 20px;
}

.renameInput input:focus {
  border-color: var(--orange);
}

.renameInput button {
  position: absolute;
  right: 5px;
  top: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

.renameInput button:first-of-type {
  right: 25px;
}

.icon {
  width: 15px;
  height: 15px;
  fill: var(--icon-main-color);
  transition: 0.2s ease fill;
}

@media screen and (max-width: 850px) {
  .renameInput input {
    width: calc(165px - 45px);
    height: 18px;
    font-size: 18px;
    line-height: 16px;
  }
}
