.filesTree {
  width: 800px;
  margin: 40px auto 0 auto;
}

.noResults {
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
  color: var(--text-color);
  text-align: center;
}

@media screen and (max-width: 850px) {
  .filesTree {
    margin-top: 20px;
    width: calc(100% - 20px);
  }
}
