.controls button {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-right: 16px;
}

.icon {
  height: 20px;
  width: 20px;
  fill: var(--icon-main-color);
  transition: 0.2s ease fill;
}
