.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.modeButton {
  height: 25px;
  width: 25px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  transition: 0.2s ease opacity;
}

.modeButton:hover {
  opacity: 0.5;
}

.modeButton:first-of-type {
  margin-right: 6px;
}

.modeButton:last-of-type {
  margin-left: 6px;
}

.icon {
  height: 25px;
  width: 25px;
  fill: var(--icon-main-color);
  transition: 0.2s ease fill;
}

.isActive {
  fill: var(--orange);
}
