.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.modeButton {
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  transition: 0.2s ease opacity;
}

.modeButton:hover {
  opacity: 0.5;
}

.modeButton:first-of-type {
  margin-right: 6px;
}

.modeButton:last-of-type {
  margin-left: 6px;
}

.icon {
  height: 30px;
  width: 30px;
  fill: var(--icon-main-color);
  transition: 0.2s ease fill;
}

.isActive {
  fill: var(--orange);
}

@media screen and (max-width: 850px) {
  .header {
    height: 35px;
  }
  .modeButton,
  .icon {
    width: 20px;
    height: 20px;
  }
}
